.line{
    margin:-2px;
    width: 0%;
    height: 5px;
    background-color:red;
    position: fixed;
    transition: 0.1s;
    border: none;
    z-index: 111
}
.btn_up{
    width: 80px;
    height: 80px;
    border-radius: 360px;
    background-color: #facb0e00;
    position: fixed;
    right: 40px;
    bottom: -80px;
    transition: 0.3s;
    color:#fff;
    font-size:30px;
    padding: 22px 20px;
    font-weight: 600;
    text-decoration: none;
}
.btn_up:hover{
    width: 85px;
    height: 85px;
    padding: 25px 22px;
    right: 37px;
    bottom: 37px;
}
.visible{
    color: black;
    border-color: black;
    opacity: 1.0;
}
.unvisible{
    color: white;
    border-color: white;
    opacity: 0.0;
}
.old{
    width: 100%;
    height: 100%;
}
.load_img{
    background-size: 20px;
    width: 100px;
    height: 100px;
    position: fixed;
    left:45%;
    top:45%;
    z-index: 211;
    transition: 0.3s;
    animation: loading 1s infinite 0s;
}
.load_bg{
    position: fixed;
    left:0px;
    top:0px;
    background-color: #fff;
    z-index: 210;
    transition: 0.3s;
}
@keyframes loading {
    0%{transform: rotate(0deg);}
    30%{transform: rotate(20deg);}
    50%{transform: rotate(-20deg);}
    70%{transform: rotate(20deg);}
    100%{transform: rotate(0deg);}
}
.slide_right{
    margin-left:900px;
}
.slide_left{
    margin-left:-900px;
}